<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="javaMailSenderImpl" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    	<property name="host" value="smtp.qq.com"/>
    	<property name="username" value=""/>
    	<property name="password" value=""/>
    	<property name="port" value="465"/>
	</bean>

	<!-- this is a template message that we can pre-load with default state -->
	<bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
	    <property name="from" value=""/>
	    <property name="subject" value="My first mail"/>
	</bean>
	
	<!-- for test -->
	<bean class="lam.schedule.launch.LamScheduleEmitter" init-method="emit">
		<property name="lamMailSender" ref="lamMailSender"/>
	</bean>
	
</beans>